.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml
android/local.properties
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
*.apk
*.aab
.DS_Store
